<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{_layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Đặt hàng thành công</title>
</head>
<body>
    <div layout:fragment="content" class="container text-center" style="margin-top: 80px;">
        <i class="fa-solid fa-circle-check text-success" style="font-size: 8rem;"></i>
        <h1 class="fw-bold mt-4 text-dark">Đặt hàng Thành Công!</h1>
        <p class="text-muted fs-5 mt-2">Cảm ơn bạn đã mua sắm tại VHYY. Đơn hàng của bạn sẽ sớm được giao.</p>
        <a th:href="@{/products}" class="btn btn-primary px-5 py-2 mt-4 rounded-pill fw-bold shadow">
            <i class="fa-solid fa-bag-shopping me-2"></i>Tiếp tục mua sắm
        </a>
    </div>
</body>
</html>