<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sửa sách</title>
</head>
<body>
    <h1>Sửa sách</h1>
    <form action="#" th:action="@{/books/edit}" th:object="${book}" method="post">
        <input type="hidden" th:field="*{id}" />
        
        <table>
            <tr>
                <td>Tiêu đề:</td>
                <td><input type="text" th:field="*{title}" /></td>
            </tr>
            <tr>
                <td>Tác giả:</td>
                <td><input type="text" th:field="*{author}" /></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit">Cập nhật</button></td>
            </tr>
        </table>
    </form>
</body>
</html>